<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.BoardLikeMapper">
	<select id="totalLike" resultType="int">
		select count(*) from tbl_board_like where board_id = #{board_id}
	</select>
	<select id="findByUserId" resultType="com.demo.domain.BoardLike">
		select * from tbl_board_like where userid = #{userId}
	</select>
	
	<insert id="save">
		<selectKey keyProperty="like_id" order="BEFORE" resultType="long">
			select seq_like.nextval from dual
		</selectKey>
		insert into tbl_board_like (like_id, board_id, userid) 
		values (#{like_id}, #{board_id}, #{userId})
	</insert>
	
	<delete id="deleteByUserId">
		delete from tbl_board_like where userid = #{userId}
	</delete>
</mapper>