<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mapper.BookMapper">
	<resultMap type="com.demo.domain.BookVO" id="bookMap">
		<id property="isbn" column="isbn"/>
		<result property="bno" column="bno" />
		<result property="isbn" column="isbn" />
		<result property="title" column="title" />
		<result property="publisher" column="publisher" />
		<result property="thumbnail" column="thumbnail" />
		<result property="url" column="url" />
		<result property="datetime" column="datetime" />
		<result property="createdate" column="createdate" />
		<collection property="authors" resultMap="authorMap"></collection>
	</resultMap>
	<resultMap type="com.demo.domain.AuthorVO" id="authorMap">
		<result property="isbn" column="isbn"/>
		<result property="authors" column="authors"/>
	</resultMap>
	
	<!-- search sql -->
	<sql id="search">			
		<trim prefix="(" suffix=") AND" prefixOverrides="OR">
			<foreach item="type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'I'.toString()">
							book.isbn like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'A'.toString()">
							author.authors like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>
	
	<!-- select -->
	<select id="getList" resultType="com.demo.domain.BookVO">
		select * from tbl_book order by bno
	</select>
	
	<select id="getListWithPaging" resultType="com.demo.domain.BookVO">
		<![CDATA[
			select
				bno, isbn, title, publisher, thumbnail, url, datetime, userid
			from
				(
					select /*+INDEX_DESC(tbl_book pk_book)*/
					rownum rn, bno, isbn, title, publisher, thumbnail, url, datetime, userid
					from tbl_book
					where rownum <= #{criteria.pageNum} * #{criteria.amount} and userid = #{userId}
				)
			where rn > (#{criteria.pageNum} - 1) * #{criteria.amount}
		]]>
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tbl_book
		where bno > 0
	</select>
	
	<select id="getSearchListWithPaging" resultMap="bookMap">
		<![CDATA[
			select distinct
				bno, isbn, title, publisher, thumbnail, url, datetime
			from
				(
					select
					rownum rn, bno, book.isbn, title, publisher, thumbnail, url, datetime
					from tbl_book book left outer join tbl_book_author author
					on book.bno = author.bno
					where 
		]]>
			
			<include refid="search"></include>
		
		<![CDATA[ 
					rownum <= #{pageNum} * #{amount}
				)
			where rn > (#{pageNum} - 1) * #{amount}
			order by bno desc
		]]>
	</select>
	
	<select id="getTotalSearchCount" resultType="int">
		select count(distinct book.isbn) 
		from tbl_book book left outer join tbl_book_author author
		on book.isbn = author.isbn
		where 
			<include refid="search"></include>
		bno > 0
	</select>
	
	<select id="getOne" resultMap="bookMap">
		select book.bno, book.isbn, title,  publisher, thumbnail, url, datetime, createdate, authors  
		from tbl_book book inner join tbl_book_author author on book.bno = author.bno
		where book.bno = #{bno}
	</select>
	
	<select id="getBookByIsbn" resultType="com.demo.domain.BookVO">
		select bno, isbn, title, publisher, thumbnail, url, datetime, createdate  
		from tbl_book
		where isbn = #{isbn}
	</select>
	
	<select id="getBookByIsbnUsingLike" resultType="com.demo.domain.BookVO">
		select bno, isbn 
		from tbl_book 
		where isbn like #{isbn}||'%'
	</select>

	<!-- insert -->
	<insert id="insert">
		insert into tbl_book (bno, isbn, title,  publisher, thumbnail, url, datetime, userid)
		values (seq_book.nextval, #{isbn}, #{title}, #{publisher}, #{thumbnail}, #{url}, #{datetime}, #{userId})
	</insert>
	
	<!-- delete -->
	<delete id="delete">
		delete from tbl_book where bno = #{bno}	
	</delete>
</mapper>
