<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.demo.mapper.MemberMapper">
	<resultMap type="com.demo.domain.MemberVO" id="memberMap">
		<id property="userId" column="userId"/>
		<result property="userId" column="userid"/>
		<result property="userPw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="createdDate" column="createddate"/>
		<result property="updatedDate" column="updateddate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.demo.domain.AuthVO" id="authMap">
		<result property="userId" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select member.userid, userpw, username, createddate, updateddate, auth
		from tbl_member member left outer join tbl_member_auth auth
		on member.userid = auth.userid
		where member.userid = #{userId}
	</select>
	
	<insert id="insert">
		insert into tbl_member (userid, userpw, username) 
		values (#{userId}, #{userPw}, #{userName})
	</insert>
</mapper>