<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.demo.mapper.MemberMapper">
	<resultMap type="com.demo.domain.Member" id="memberMap">
		<id property="member_id" column="member_id"/>
		<result property="member_id" column="member_id"/>
		<result property="userId" column="userid"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="createdDate" column="createddate"/>
		<result property="updatedDate" column="updateddate"/>
		<collection property="roles" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.demo.domain.Auth" id="authMap">
		<result property="member_id" column="member_id"/>
		<result property="role" column="role"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select member.member_id, userid, password, email, createddate, updateddate, role
		from tbl_member member left outer join tbl_member_auth auth
		on member.member_id = auth.member_id
		where userid = #{userId}
	</select>
	<select id="findByUserId" resultType="com.demo.domain.Member">
		select * from tbl_member where userid = #{userId}
	</select>
	<select id="findByEmail" resultType="com.demo.domain.Member">
		select email from tbl_member where email = #{email}
	</select>
	
	<update id="modifyPassword">
		update tbl_member set
		password = #{password},
		updateddate = sysdate
		where userid = #{userId}
	</update>
	<update id="modifyEmail">
		update tbl_member set
		email = #{email},
		updateddate = sysdate
		where userid = #{userId}
	</update>
	
	<insert id="insert">
		<selectKey keyProperty="member_id" order="BEFORE" resultType="long">
			select seq_member.nextval from dual
		</selectKey>
		insert into tbl_member (member_id, userid, password, email) 
		values (#{member_id}, #{userId}, #{password}, #{email})
	</insert>
</mapper>