<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.ReviewMapper">
	
	<insert id="save"> 
		insert into tbl_review (review_id, book_id, content, rating)
		values (seq_review.nextval, #{book_id}, #{content}, #{rating})
	</insert>
	
	<select id="findByBookId" resultType="com.demo.domain.ReviewVO">
		select *
		from tbl_review 
		where book_id = #{book_id}
	</select>
	
	<delete id="delete">
		delete from tbl_review where book_id = #{book_id} 
	</delete>
	
	<update id="update">
		update tbl_review set 
		content = #{content}, 
		rating = #{rating},
		modifieddate = sysdate 
		where book_id = #{book_id}
	</update>
</mapper>