<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.demo.mapper.SentenceMapper">
	<insert id="save">
		<selectKey keyProperty="sentence_id" order="BEFORE" resultType="long">
			select seq_sentence.nextval from dual
		</selectKey>
		insert into tbl_sentence(sentence_id, bno, content)
		values(#{sentence_id}, #{bno}, #{content})
	</insert>
	
	<select id="findById" resultType="com.demo.domain.Sentence">
		select * from tbl_sentence where sentence_id = #{sentence_id}
	</select>
	<select id="findAllByBookId" resultType="com.demo.domain.Sentence">
		select * from tbl_sentence
		where bno = #{bno}
		order by sentence_id asc
	</select>
	
	<delete id="deleteById">
		delete from tbl_sentence where sentence_id = #{sentence_id}
	</delete>
	<update id="update">
		update tbl_sentence set
		content = #{content},
		modifieddate = sysdate
		where sentence_id = #{sentence_id}
	</update>
</mapper>